.top-btn{
 position: fixed;
 bottom: 20px;
 right: 20px;
 z-index: 100;
 display: none;
}

main{
  min-width: 1280px;
  background: url(../images/메인배경.svg) no-repeat center/cover;
}
main > .container {
  width: 1280px;
  height: 750px;
  padding: 0 45px;
  margin: auto;
  position: relative;
}
main > .container #banner .txt {
  text-align: end;
  padding-top: 91px;
  user-select: none; /*복사금지*/
}
main > .container #banner .txt .btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 230px;
}
main > .container #banner .txt .btn button {
  background-color: #fff;
  width: 18px;
  line-height: 18px;
  border: none;
  border-radius: 50%;
  color: #0283df;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}
main > .container #banner .txt p {
  color: #333;
}
main > .container #banner h2 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
main > .container #banner h1 {
  font-size: 90px;
  font-weight: 700;
  color: #155781;
}

/*select-box*/
#select-box {
  width: 1190px;
  height: 350px;
  background-color: #fff;
  border-radius: 20px;
  padding: 60px 44px;
  box-shadow: 0 8px 20px rgb(51, 51, 51,0.1);
  position: absolute;
  bottom: -129px;
}
#select-box .hotel {
  height: 60%;
  display: flex;
  align-items: center;
}
#select-box .hotel .title {
 align-self: start;
 margin-top: 10px;
}
#select-box .hotel .title h2,
#select-box .recent h2{
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
#select-box .hotel .select {
  display: flex;
  gap: 22px;
  justify-content: center;
  margin: 0 37px;
}
#select-box .hotel .select div:nth-of-type(1) input{
  width: 265px;
  height: 126px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}
#select-box .hotel .select div:nth-of-type(1) input::placeholder{
  color: #bbb;
  font-weight: bold;
}
#select-box .hotel .select div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
#select-box .hotel .select div:nth-of-type(2) input { 
  width: 297px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}
#select-box .hotel .select div:nth-of-type(3),
#select-box .hotel .select div:nth-of-type(4){
  width: 105px;
  height: 125px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 36px 0;
  cursor: pointer;
}
#select-box .hotel .select div:nth-of-type(3) img,
#select-box .hotel .select div:nth-of-type(4) img {
  width: 30px;
  height: 25px;
  margin-bottom: 8px;
}
#select-box .hotel .select div:nth-of-type(3) p,
#select-box .hotel .select div:nth-of-type(4) p {
  color: #ddd;
}

#select-box .hotel .btn {
  width: 119px;
  height: 42px;
  background-color: #1aac5b;
  border-radius: 20px;
}
#select-box .hotel .btn a{
  display: block;
  line-height: 42px;
  color: #fff;
  text-align: center;
  font-weight: 700;

}
#select-box .recent {
  height: 40%;
}

/*hover시 이벤트*/
#select-box .hotel .select div:nth-of-type(1):hover,
#select-box .hotel .select div:nth-of-type(2) input:hover,
#select-box .hotel .select div:nth-of-type(3):hover,
#select-box .hotel .select div:nth-of-type(4):hover {
  outline: 2px solid #0283dfe9;
  border-radius: 10px;
}

/* 추천호텔 */
#card-box {
  min-width: 1280px;
  height: 855px;
}
#card-box .wrap{
  width: 1280px;
  padding: 0 45px;
  margin: auto;
  padding-top: 269px;
}
#card-box > .wrap > section > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #0283df;
  margin-bottom: 30px;
} 
#card-box > .wrap > section > h2 > span {
  color: #333;
}
#card-box > .wrap > section > div {
  display: flex;
  justify-content: center;
  gap:20px;
  position: relative;
}
#card-box > .wrap > section > div > .card {
  /* border: 1px solid #c3c3c3; */
  border-radius: 20px;
  width: 300px;
  height: 500px;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.25);
}

/*hover시 이벤트*/
#card-box > .wrap > section > div > .card:hover {
  cursor: pointer;
}
/*------------*/

#card-box > .wrap > section > div > .card img{
  width: 100%;
  object-fit: cover;
  display: block;
}
#card-box > .wrap > section > div > .card > .txt > p:first-child {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #f2b124;
  border: 1px solid #f2b124;
  border-radius: 20px;
  width: 43px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}
#card-box > .wrap > section > div > .card > .txt {
  margin: 15px;
}
#card-box > .wrap > section > div > .card > .txt > h2 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}
#card-box > .wrap > section > div > .card > .txt > p {
  font-size: 18px;
  color: #666;
  margin-bottom: 44px;
}
#card-box > .wrap > section > div > .card > .txt > h3 {
  font-size: 20px;
  color: #333;
  font-weight: 700;
}
#card-box > .wrap > section > div > .card > .txt > h3 > span {
  font-weight: normal;
}

/*좌우버튼*/
#card-box > .wrap > section > div > .btn {
  width: 1190px;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#card-box > .wrap > section > div > .btn > button{
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: pointer;
  position: absolute;
}
#card-box > .wrap > section > div > .btn > button:nth-of-type(1){
  left: 0; 
}
#card-box > .wrap > section > div > .btn > button:nth-of-type(2) {
  right: 0; 
}


/*아고다 추천숙소*/
#recommend {
  min-width: 1280px;
  margin-top: 140px;
}
#recommend .wrap{
  width: 1280px;
  height: 570px;
  margin: auto;
  padding: 0 45px;
}
#recommend > .wrap > section > h2 {
  font-size: 40px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}
#recommend > .wrap > section > h2 >span {
  color: #0283df;
}
#recommend > .wrap > section > .card-wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

#recommend > .wrap > section > .card-wrap > .card{
  width: 480px; height: 480px;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.25);
  border-radius: 20px;
}

/*hover시 이벤트*/
#recommend > .wrap > section > .card-wrap > .card:hover {
  cursor: pointer;
}
/*------------*/

#recommend > .wrap > section > .card-wrap > .card > img {
  display: block;
}
#recommend > .wrap > section > .card-wrap > .card > .txt {
  padding: 20px;
}
#recommend > .wrap > section > .card-wrap > .card > .txt > h2 {
  font-size: 24px;
  font-weight: 500;
  color: #0283df;
  padding-bottom: 49px;
} 
#recommend > .wrap > section > .card-wrap > .card > .txt > p {
  font-size: 18px;
  font-weight: 500;
  color: #555;
  padding-bottom: 5px;
}
#recommend > .wrap > section > .card-wrap > .card > .txt > hr {
  width: 440px;
  border: none;
  box-shadow: 0 0 0.5px 0.5px #999; /*얇게 하려공*/
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 16px;
}
#recommend > .wrap > section > .card-wrap > .card > .txt > h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}
#recommend > .wrap > section > .card-wrap > .card > .txt >h3 span {
  font-weight: normal;
}
/*좌우버튼*/
#recommend > .wrap > section > .card-wrap > .btn {
  width: 1190px;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#recommend > .wrap > section > .card-wrap > .btn > button{
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: pointer;
  position: absolute;
}
#recommend > .wrap > section > .card-wrap > .btn > button:nth-of-type(1){
  left: 0; 
}
#recommend > .wrap > section > .card-wrap > .btn > button:nth-of-type(2) {
  right: 0; 
}


/*광고배너*/
#ad-banner {
  min-width: 1280px;
  height: 300px;
  margin-top: 140px;
  background: url(../images/광고배너.png) center/cover;
}
#ad-banner > .wrap {
  width: 1280px;
  height: 300px;
  margin: auto;
  position: relative;
}

#ad-banner > .wrap > p {
  position: absolute;
  bottom: 30px;
  left: -100px;
}
#ad-banner > .wrap > p > a {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 0 200px;
}

/*hover시 이벤트*/
#ad-banner > .wrap > p > a:hover {
  text-decoration: underline;
}


/*해외 인기 여행지*/
#popular {
  min-width: 1280px;
  margin-top: 140px;
}
#popular > .wrap {
  width: 1190px;
  /* padding: 0 45px; */
  margin: auto;
  overflow: hidden;
}
#popular > .wrap > section > h2 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
#popular > .wrap > section > h2 span {
  color: #0283df;
}
#popular > .wrap > section > .list-wrap {
  display: flex;
  gap:20px;
  justify-content: center;
  align-items:center;  
}
#popular > .wrap > section > .list-wrap > .list{
 cursor: pointer;
 transition: 0.3s;
 border-radius: 10px;
}
/*hover시 이벤트*/
#popular > .wrap > section > .list-wrap > .list:hover{
  transform: scale(1.2);
 }

#popular > .wrap > section > .list-wrap > .list > p {
text-align: center;
margin-top: 15px;
font-size: 20px;
color: #333;
}
#popular > .wrap > section > .list-wrap > .list > .sub-txt {
  color: #555;
  margin-top: 0;
  font-size: 16px;
  font-weight: 300;
}
#popular > .wrap > section > p {
  text-align: right;
  margin-top: 38px;
  font-size: 16px;
  font-weight: 700;
}
#popular > .wrap > section > p > a{
  color: #0283df;
}


/*나에게 맞는 추천 여행지*/
#suit {
  min-width: 1280px;
  margin-top: 140px;
}
#suit > .wrap {
  width: 1280px;
  padding: 0 45px;
  margin: auto;
}
#suit > .wrap >  h2 {
  font-size: 40px;
  color: #333;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}
#suit > .wrap > h2 span {
  color: #0283df;
}
#suit > .wrap > ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}
#suit > .wrap > ul > li {
  font-size: 20px;
  margin-bottom: 30px;
}
#suit > .wrap > ul > li > a {
  color: #555;
  font-weight: 500;
  /* display: block;
  margin-bottom: 10px;   */
}
#suit > .wrap  .pic-container {
  display: flex;
  flex-wrap: wrap;
  gap:20px
}

/*액티브시 이벤트*/
#suit > .wrap  li.active a{
  color: #0283df;
  display: block;
  padding-bottom: 5px;
  border-bottom: 3px solid #0283df;
}
#suit > .wrap .pic {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
#suit > .wrap .pic img {
  display: block;
}
#suit > .wrap .pic > .txt {
  position: absolute;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; height: 100%;
  opacity: 0;
  left: 0; bottom: 0;
  transition: all 0.3s;
  cursor: pointer;
}
#suit > .wrap .pic > .txt > div{
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  position: absolute;
  bottom: 20px; left: 20px;
}
#suit > .wrap .pic:hover .txt{
  opacity: 1;
  visibility: visible;
}


/* 숙소 프로모션 */
#promotion {
  min-width: 1280px;
  margin-top: 140px;
}
#promotion > .wrap {
  width: 1280px;
  padding: 0 45px;
  margin: auto;
  position: relative;
}
#promotion > .wrap h2 {
  font-size: 40px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}
#promotion > .wrap h2 span {
  color: #0283df;
}
#promotion > .wrap > section > .card-wrap {
  display: flex;
  gap:20px;
  justify-content: center;
}
#promotion > .wrap > section > .card-wrap > .card {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
}
/*hover시 이벤트*/
#promotion > .wrap > section > .card-wrap > .card:hover {
  cursor: pointer;
}
#promotion > .wrap > section > .card-wrap > .card img {
  display: block;
  width: 100%;
  object-fit: cover;
}
#promotion > .wrap > section > .card-wrap > .card > .txt {
  padding: 15px 15px;
}
#promotion > .wrap > section > .card-wrap > .card > .txt > h3 {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}
#promotion > .wrap > section > .card-wrap > .card > .txt > p {
  color: #bbb;
  font-size: 16px;
  display: block;
  position: absolute;
  bottom: 15px;
}
/*좌우버튼*/
#promotion > .wrap > section > .card-wrap > .btn {
  width: 1190px;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#promotion > .wrap > section > .card-wrap > .btn > button{
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: pointer;
  position: absolute;
}
#promotion > .wrap > section > .card-wrap > .btn > button:nth-of-type(1){
  left: 0; 
}
#promotion > .wrap > section > .card-wrap > .btn > button:nth-of-type(2) {
  right: 0; 
}
#promotion > .wrap > section > p > a {
  margin-top: 36px;
  font-weight: 700;
  color: #0283df;
  text-align: right;
  display: block;
}
